@import url(./font/fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: 'TwitterChirp', sans-serif;
    font-size: 15px;
    color: #e7e9ea;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(12px);
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
    cursor: pointer;
    z-index: 1;
}

.home {
    padding: 0 16px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    height: 53px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    border-bottom: 1px solid rgb(47, 51, 54);
}

.nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    color: #71767b;
}

.nav__item.active {
    color: #e7e9ea;
}

.nav__item:hover {
    background-color: rgba(231, 233, 234, 0.1);
}

.nav__item.active:after {
    content: '';
    display: block;
    width: 56px;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(29, 155, 240);
    position: absolute;
    bottom: 1px;
    left: 50;
}

.nav__item.active:last-child:after {
    width: 69px;
}

.card {
    border: 1px solid rgb(47, 51, 54);
    width: 100%;
}

.card:not(:first-child) {
    border-top: none;
}

.card__wrapper {
    width: 100%;
    padding: 12px 16px;
    display: flex;
    column-gap: 12px;
}

.card__avatar {
    flex: 0 0 40px;
    width: 40px;
}

.card__photo {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.card__post {
    flex: 1;
}

.card__info {
    width: 100%;
}

.card__head {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.card__header {
    display: flex;
    align-items: center;
    position: relative;
}

.card__header span:nth-of-type(3) {
	font-size: 20px;
    color: #71767b;
    padding: 0 4px;
}

.card__name {
    width: fit-content;
    font-weight: 700;
    cursor: pointer;
}

.card__name:hover {
    text-decoration: underline;
}

.card__badge-check {
    display: flex;
    max-width: 20px;
    max-height: 20px;
    margin-left: 2px;
    cursor: pointer;
}

.card__badge-check svg {
    width: 20px;
    height: 20px;
}

.card__username {
    color: #71767b;
    cursor: pointer;
}

time {
    color: #71767b;
    cursor: pointer;
}

time:hover {
    text-decoration: underline;
}

.card__delete {
    position: absolute;
    right: 0;
    margin: -8px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.card__delete:hover {
    background-color: rgba(29, 155, 240, 0.1);
}

.card__delete svg {
    width: 19px;
    height: 19px;
}

.card__delete path {
    fill: #71767b;
}

.card__delete:hover path {
    fill: #1d9bf0;
}

.card__title {
    line-height: 25px;
    color: #71767b;
}

.card__text {
    line-height: 20px;
}

.card__title::first-letter,
.card__text::first-letter {
    text-transform: capitalize;
}

.card__icons {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    max-width: 425px;
    column-gap: 4px;
}

.card__icon-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.card__icon {
    position: relative;
    left: 0;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: -8px;
}

.card__icon-text {
    /* position: absolute; */
    font-size: 13px;
    line-height: 16px;
    color: #71767b;
    padding: 0 12px;
}

.card__icon svg {
    width: 19px;
    height: 19px;
}

.card__icon path {
    fill: #71767b;
}

.card__icon-wrapper:hover .card__icon {
    background-color: rgba(29, 155, 240, 0.1);
}

.card__icon-wrapper:hover path {
    fill: rgb(29, 155, 240);
}

.card__icon-wrapper:hover .card__icon-text {
    color: rgb(29, 155, 240);
}

.card__icon-wrapper[title='Retweet']:hover .card__icon {
    background-color: rgba(0, 186, 124, 0.1);
}

.card__icon-wrapper[title='Retweet']:hover path {
    fill: rgb(0, 186, 124);
}

.card__icon-wrapper[title='Retweet']:hover .card__icon-text {
    color: rgb(0, 186, 124);
}

.card__icon-wrapper[title='Like']:hover .card__icon {
    background-color: rgba(249, 24, 128, 0.1);
}

.card__icon-wrapper[title='Like']:hover path {
    fill: rgb(249, 24, 128);
}

.card__icon-wrapper[title='Like']:hover .card__icon-text {
    color: rgb(249, 24, 128);
}
